body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}

* {
	box-sizing: border-box;
}

h1 {
	padding: 30px;
	font-size: 2em;
	text-align: center;
}

.mainCalc {
	background-color: grey;
	width: 800px;
	margin: auto;
}

.container {
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	background-color: blueviolet;
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-top: 3px double black;
	border-left: 3px double black;
}

.boxMath {
	background-color: grey;
	width: 150px;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-top: 3px double black;
	border-left: 3px double black;
}

#displayBox {
	width: 600px;
	padding: 40px;
	margin: auto;
	text-align: center;
	font-family: monospace;
	font-size: 3em;
	background-color: black;
	color: white;
	border-right: 5px solid white;
	border-bottom: 5px solid white;
	border-top: 3px double white;
	border-left: 3px double white;
}

#cl {
	width: 300px;
	background-color: cyan;
}

#mathEqual {
	height: 300px;
}

.numberBoard {
	width: 450px;
	display: flex;
	flex-wrap: wrap;
}

.mathBoard {
	width: 150px;
	display: flex;
	flex-direction: column;
}