body {

}

* {
	box-sizing: border-box;
}


.container {
	display: flex;
}

.box {
	padding: 50px;
	background-color: blue;
}

.boxMath {
	padding: 50px 25px;
}

#cl {
	padding: 100px 50px;
}

#mathEqual {
	padding: 50px 100px;
}